{% sw_extends '@MolliePayments/storefront/page/account/subscriptions/subscription-item.html.twig' %}

{% block page_account_subscriptions_item_context_menu_cancel %}
    {# disabled #}
{% endblock %}

{% block page_account_subscriptions_item_context_menu_reorder %}
    {# disabled #}
{% endblock %}

{% block page_account_mollie_subscriptions_order_table_toggle_button %}
    {# disabled #}
{% endblock %}

{% block page_account_mollie_subscriptions_item_overview %}
    {{ parent() }}

    {% set metadata = subscription.get('metadata') %}
    <div class="order-wrapper">
        <div class="order-item-header">
            <div class="row flex-wrap">
                <p><strong>Rücksendung angekündigt:</strong> {{ attribute(metadata, 'cancellation_initialized_at') is not empty ? attribute(metadata, 'cancellation_initialized_at')|date('d.m.Y H:i', 'Europe/Vienna') : 'N/A' }}</p>
                <p><strong>Rücksendung erhalten:</strong> {{ attribute(metadata, 'cancellation_reviewed_at') is not empty ? attribute(metadata, 'cancellation_reviewed_at')|date('d.m.Y H:i', 'Europe/Vienna') : 'N/A' }}</p>
                <div class='row flex-wrap' style="padding-top: 12px;padding-left:-12px;">
                    {% if metadata['cancellation_initialized_at'] is not defined or metadata['cancellation_initialized_at'] is empty %}
                        <button type="button" class="btn btn-primary col-6" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Rücksendung anfordern
                        </button>
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Rücksendung anfordern</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
                                            <form action="{{ path('frontend.account.os.subscription.order.return', { 'subscriptionId': subscription.id }) }}"
                                                  method="post"
                                                  data-form-csrf-handler="true"
                                                  class="col-auto">
                                                <button type="submit" class="btn btn-primary">Bestätigen</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    {% endif %}
                    {% if config('OsSubscriptions.config.residualPurchaseActive') and subscription.canceledAt is null %}
                        <form action="{{ path('frontend.account.os.subscription.residual.purchase', { 'subscriptionId': subscription.id }) }}"
                              method="post"
                              data-form-csrf-handler="true"
                              class="col-6">

                            <button class="btn btn-primary" style="width: 100%;" type="submit">
                                Restkauf
                            </button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}