{% sw_extends '@MolliePayments/storefront/page/account/subscriptions/subscription-item.html.twig' %}

{% block page_account_subscriptions_item_context_menu_cancel %}
    {# disabled #}
{% endblock %}

{% block page_account_subscriptions_item_context_menu_reorder %}
    {# disabled #}
{% endblock %}

{% block page_account_mollie_subscriptions_order_table_toggle_button %}
    {# disabled #}
{% endblock %}

{% block page_account_subscriptions_item_context_menu_pause_form %}
    {# disabled #}
{% endblock %}

{% block page_account_subscriptions_item_context_menu_cancel_form %}
    {# disabled #}
{% endblock %}

{% block page_account_subscriptions_item_context_menu_skip_form %}
    {# disabled #}
{% endblock %}

{% block page_account_subscriptions_item_context_menu_resume_form %}
    {# disabled #}
{% endblock %}

{% block page_account_subscriptions_item_context_menu_col %}
    {% if subscription.status == "canceled" %}
        {# disabled #}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block page_account_mollie_subscriptions_item_cancel_until %}
    {# disabled #}
{% endblock %}

{% block page_account_mollie_subscriptions_item_next_payment %}
    {% if subscription.status == "canceled" %}
        {# disabled #}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block page_account_mollie_subscriptions_item_overview %}
    {{ parent() }}

    <div class="order-wrapper">
        <div class="order-item-header">
            <div class="row flex-wrap">
                {% if attribute(metadata, 'cancellation_initialized_at') is not empty %}
                    <p><strong>Rücksendung angekündigt:</strong> {{ attribute(metadata, 'cancellation_initialized_at')|date('d.m.Y H:i', 'Europe/Vienna') }}</p>
                {% endif %}
                {% if attribute(metadata, 'cancellation_reviewed_at') is not empty %}
                    <p><strong>Rücksendung erhalten:</strong> {{ attribute(metadata, 'cancellation_reviewed_at')|date('d.m.Y H:i', 'Europe/Vienna') }}</p>
                {% endif %}
                <div class='row flex-wrap' style="padding-top: 12px;padding-left:-12px;">
                    {% if (metadata['cancellation_initialized_at'] is not defined or metadata['cancellation_initialized_at'] is empty) and subscription.status != 'canceled' %}
                        <button type="button" class="btn btn-primary col-6" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Rücksendung anfordern
                        </button>
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Rücksendung anfordern</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                Vor der Rücksendung ist darauf zu achten, dass alle Artikel gereinigt, geputzt und vollständig zurückgesendet werden. Die Kosten für die Rücksendung sind selbst zu tragen. <br>
                                                <br>
                                                Alternativ kann das Mietprodukt auch direkt in unserem Shop abgegeben werden.
                                                <br>
                                                <br>
                                                Bitte sende dein gemietetes Produkt an folgende Adresse zurück:
                                                <br>
                                                <br>
                                                Babyrella <br>
                                                Waagner-Biro-Straße 20 <br>
                                                A-8020 Graz
                                                <br>
                                                <br>
                                                Sobald das Produkt bei uns eingetroffen ist, wird es auf Schäden und Vollständigkeit geprüft. Wenn keine Mängel festgestellt werden, endet die Mietzahlung automatisch. Falls das Produkt beschädigt ist oder Teile fehlen, wird eine Nachverrechnung vorgenommen. In diesem Fall setzen wir uns mit dir in Verbindung.
                                                <br>
                                                <br>
                                                Die Miete endet, sobald das Produkt bei uns eingetroffen ist.
                                                <br>
                                                <br>
                                                Vielen Dank für deine Rücksendung.
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
                                            <form action="{{ path('frontend.account.os.subscription.order.return', { 'subscriptionId': subscription.id }) }}"
                                                  method="post"
                                                  data-form-csrf-handler="true"
                                                  class="col-auto">
                                                <button type="submit" class="btn btn-primary">Bestätigen</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    {% endif %}
                    {% if config('OsSubscriptions.config.residualPurchaseActive') and subscription.canceledAt is null %}
                        <form action="{{ path('frontend.account.os.subscription.residual.purchase', { 'subscriptionId': subscription.id }) }}"
                              method="post"
                              data-form-csrf-handler="true"
                              class="col-6">

                            <button class="btn btn-primary" style="width: 100%;" type="submit">
                                Restkauf
                            </button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}